.htaccess
readme.md
settings/app.php
settings/database.php
settings/alert.php
settings/google.php
settings/facebook.php
settings/wompi.php
settings/kinguin.php
compiler/builds/
ipn.txt
order-status.txt
order-complete.txt
product-update.txt
create-order.txt
error_log
assets/uploads/
vendor/